# Dependencies
node_modules/
**/venv/
**/__pycache__/
*.pyc
frontend/.next/

# Environment
.env
**/ .env
frontend/.env.local

# Build artifacts
frontend/out/
backend/build/

# Misc
.DS_Store
*.log
chat_error_log.txt
*.sqlite3
backend/uploads/
